:root {
  font-size: 62.5%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
main ul.arrivals::-webkit-scrollbar {
  display: none; /* geen scrollbalk bij de arrivals */
}
/* hier komt jouw css */
body {
  background-color: black;
}
header {
  width: 100%;
  background-color: burlywood;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 10vh;
}
header h1 {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 45vw;
}
header nav {
  display: none;
}
header nav.active {
  display: block;
}
header nav ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 10vh;
  width: 20%;
  line-height: 3rem;
  padding-left: 1rem;
  background-color: rgb(228, 171, 96);
  text-align: center;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
header nav ul li {
  border-top: 1px solid black;
  margin-right: 1rem;
}
header nav ul li:nth-child(1) {
  border-top: none;
}
main .welkom {
  background-image: url(cristy/WWW.jpg);
  height: 80vh;
  width: 100%;
  background-size: contain;
  background-position: 100% center;
}
main .arrivals {
  display: flex;
  gap: 1rem;
  overflow: scroll;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .arrivals li {
  flex: 0 0 calc(50% - 0.5rem);
  scroll-snap-align: start;
  border-radius: 10px;
  background-size: cover;
}
main .arrivals li a {
  position: relative;
  left: 18vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  top: 45vh;
  color: black;
  text-decoration: none;
  background-color: white;
  width: 20vw;
  border: 1px solid black;
  border-radius: 5px;
}
.arrivals li {
  height: 50vh;
}

footer {
  margin-top: 5rem;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}
footer h1 {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
}

/*photos*/
.arrivals li.A {
  background-image: url(cristy/A.jpg);
}
.arrivals li.B {
  background-image: url(cristy/B.jpg);
}
.arrivals li.C {
  background-image: url(cristy/C.jpg);
}
.arrivals li.D {
  background-image: url(cristy/D.jpg);
}
.arrivals li.E {
  background-image: url(cristy/E.jpg);
}
.arrivals li.F {
  background-image: url(cristy/F.jpg);
}
.arrivals li.G {
  background-image: url(cristy/G.jpg);
}
.arrivals li.H {
  background-image: url(cristy/H.jpg);
}
.arrivals li.I {
  background-image: url(cristy/I.jpg);
}
.arrivals li.J {
  background-image: url(cristy/J.jpg);
}
.arrivals li.K {
  background-image: url(cristy/K.jpg);
}
.arrivals li.L {
  background-image: url(cristy/L.jpg);
}
.arrivals li.M {
  background-image: url(cristy/M.jpg);
}
.arrivals li.N {
  background-image: url(cristy/N.JPG);
}
.arrivals li.O {
  background-image: url(cristy/O.JPG);
}
.arrivals li.Q {
  background-image: url(cristy/Q.JPG);
}
.arrivals li.R {
  background-image: url(cristy/R.JPG);
}
.arrivals li.S {
  background-image: url(cristy/S.JPG);
}
.arrivals li.T {
  background-image: url(cristy/T.JPG);
}
.arrivals li.U {
  background-image: url(cristy/U.JPG);
}
.arrivals li.V {
  background-image: url(cristy/V.JPG);
}
.arrivals li.W {
  background-image: url(cristy/W.JPG);
}
.arrivals li.X {
  background-image: url(cristy/X.JPG);
}
.arrivals li.Y {
  background-image: url(cristy/Y.JPG);
}
.arrivals li.Z {
  background-image: url(cristy/Z.JPG);
  background-position: top;
}
.arrivals li.AA {
  background-image: url(cristy/AA.JPG);
}
.arrivals li.BB {
  background-image: url(cristy/BB.JPG);
}
.arrivals li.CC {
  background-image: url(cristy/CC.JPG);
}
.arrivals li.DD {
  background-image: url(cristy/DD.JPG);
}
.arrivals li.EE {
  background-image: url(cristy/EE.JPG);
}
.arrivals li.FF {
  background-image: url(cristy/FF.JPG);
}
.arrivals li.GG {
  background-image: url(cristy/GG.JPG);
}
.arrivals li.HH {
  background-image: url(cristy/HH.JPG);
}
.arrivals li.II {
  background-image: url(cristy/II.JPG);
}
.arrivals li.JJ {
  background-image: url(cristy/JJ.JPG);
}
.arrivals li.KK {
  background-image: url(cristy/KK.JPG);
}
.arrivals li.LL {
  background-image: url(cristy/LL.JPG);
}
.arrivals li.MM {
  background-image: url(cristy/MM.JPG);
}
.arrivals li.NN {
  background-image: url(cristy/NN.JPG);
}
.arrivals li.OO {
  background-image: url(cristy/OO.JPG);
}
.arrivals li.PP {
  background-image: url(cristy/PP.JPG);
}
.arrivals li.QQ {
  background-image: url(cristy/QQ.JPG);
}
.arrivals li.RR {
  background-image: url(cristy/RR.JPG);
}
.arrivals li.SS {
  background-image: url(cristy/SS.JPG);
}
.arrivals li.TT {
  background-image: url(cristy/TT.JPG);
}
.arrivals li.UU {
  background-image: url(cristy/UU.JPG);
}
.arrivals li.VV {
  background-image: url(cristy/VV.JPG);
}
.arrivals li.WW {
  background-image: url(cristy/WW.JPG);
}
.arrivals li.XX {
  background-image: url(cristy/XX.JPG);
}
.arrivals li.YY {
  background-image: url(cristy/YY.JPG);
}
.arrivals li.ZZ {
  background-image: url(cristy/ZZ.JPG);
}
.arrivals li.AAA {
  background-image: url(cristy/AAA.JPG);
}
.arrivals li.BBB {
  background-image: url(cristy/BBB.JPG);
}
.arrivals li.CCC {
  background-image: url(cristy/CCC.JPG);
}
.arrivals li.DDD {
  background-image: url(cristy/DDD.JPG);
}
.arrivals li.EEE {
  background-image: url(cristy/EEE.JPG);
}
.arrivals li.FFF {
  background-image: url(cristy/FFF.JPG);
}
.arrivals li.GGG {
  background-image: url(cristy/GGG.JPG);
}
.arrivals li.HHH {
  background-image: url(cristy/HHH.JPG);
}
.arrivals li.III {
  background-image: url(cristy/III.JPG);
}
.arrivals li.JJJ {
  background-image: url(cristy/JJJ.JPG);
}
.arrivals li.KKK {
  background-image: url(cristy/KKK.JPG);
}
.arrivals li.LLL {
  background-image: url(cristy/LLL.JPG);
}
.arrivals li.MMM {
  background-image: url(cristy/MMM.JPG);
}
.arrivals li.NNN {
  background-image: url(cristy/NNN.JPG);
}
.arrivals li.OOO {
  background-image: url(cristy/OOO.JPG);
}
.arrivals li.PPP {
  background-image: url(cristy/PPP.JPG);
}
.arrivals li.QQQ {
  background-image: url(cristy/QQQ.JPG);
}
.arrivals li.RRR {
  background-image: url(cristy/RRR.JPG);
}
.arrivals li.SSS {
  background-image: url(cristy/SSS.JPG);
}
.arrivals li.TTT {
  background-image: url(cristy/TTT.JPG);
}
.arrivals li.UUU {
  background-image: url(cristy/UUU.JPG);
}
.arrivals li.VVV {
  background-image: url(cristy/VVV.JPG);
}
.arrivals li.WWW {
  background-image: url(cristy/WWW.jpg);
}
.arrivals li.XXX {
  background-image: url(cristy/XXX.jpg);
}
.arrivals li.YYY {
  background-image: url(cristy/YYY.png);
}
.arrivals li.ZZZ {
  background-image: url(cristy/ZZZ.jpg);
}
@media (min-width: 700px) {
  main .arrivals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
